* {
  list-style: none;
 
}
html {
  font-size: 10px;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  color: #428888;
  padding: 2rem;
}
#root {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 3rem auto;
  font-size: 2.5rem;
  
}
.bookList {
  background-color: blanchedalmond;
  padding: 2rem;
}
.bookList:hover {
  transform: scale(1.1);
}

.listElement {
  padding: 1.5rem;
  border: 1px solid grey;
  margin: 1rem;
  width: 90%;
}
.listElement:active {
  background-color: cadetblue;
  color: bisque;
  transform: skew(-20deg);
}
#bookForm {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

#year:optional {
  border: 2px solid grey;
}

:required {
  border: 2px solid orange;
}
input:valid {
  border: 2px solid green;
}
button {
  appearance: none;
  border: none;
  font-size: 1.6rem;
  background-color: rgb(238, 104, 198);
  border-radius: 30px;
  color: rgb(248, 248, 236);
}
button:hover {
  transform: scale(1.2);
  box-shadow: 1px 3px 3px rgb(102, 151, 117);
  color: rgb(102, 151, 117);
}
button:active {
  transform: scale(0.9);
  transform: translateY(5px);
  color: rgb(248, 248, 236);
}